body{
	background-color:#0f0f0f;
	color: #40d2ff;
	font-family: monospace;
}

.container{
	padding: 10px;
	padding-top: 20px;
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #262626;
}	

h1{
	text-align: center;
	color: #63daff;
	font-weight: bolder;
	font-style: italic;
	margin: 5px;
	margin-bottom: 20px;
}
