body{
	background-color:#0f0f0f;
	color: #40d2ff;
	font-family: monospace;
	margin-bottom: auto;
}

.container-proj{
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 4%;
}

.leftside{
	background-color: white;
}

.contents{
	background-color: brown;
	margin-right: 4%;
	margin-left: 4%;
}

.rightside{
	background-color: blue;
}

h1{
	text-align: center;
	color: #63daff;
	font-weight: bolder;
	font-style: italic;
	margin: 5px;
	margin-bottom: 20px;
}

.dropdown-menu{
	align: center;
	min-width: 1000px;
}


@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
